.jumbotron
{
background-color:yellow;
color: black;
}

footer
{
padding:5px 5px 0 5px;
background-color: yellow;
margin-bottom:0px;
margin-top:10px;
}

.bt_fix
{
flex:1 150px;
padding:2px 2px 2px 2px;
}